<div>
<nav class="site-header sticky-top py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2" href="#">
      <form class="form-inline mt-2 mt-md-0">
        <input id="input_burger" class="form-control mr-sm-2" name="neworder" type="text" placeholder="Your Order">
        <button id="create-burger" class="btn btn-outline-warning my-2 my-sm-0" type="button">Order Your Burger</button>
      </form>
    </a>

  </div>
</nav>
</div>
<!-- <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Punny headline</h1>
        <p class="lead font-weight-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple's marketing pages.</p>
        <a class="btn btn-outline-secondary" href="#">Coming soon</a>
      </div>
      <div class="product-device shadow-sm d-none d-md-block"></div>
      <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div> -->

<div class="d-md-flex flex-md-equal w-100 h-100">
  <div class="side-left text-center  h-100">
    <div class="my-3 py-3 h-100">
      <h3>
        <span>FOOD ORDERED</span>

      </h3>

{{!-- Burgers that are not devoured --}}



      <div class="profile2">
        <img src="assets/images/humb.png" alt="profile1">
        <a href="#" id=""></a><h2>Eat Me </h2><a/>
      </div>
      <p class=" page-inner ">humburger with cheese and salad and some other phat shit. </p>
<table>
  {{#each burgers}}
    {{#unless devoured }}
      {{> burgers/burger-block sleep=true player="X"}}
    {{/unless}}
  {{/each}}
</table>

    </div>
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{{!-- <script>window.jQuery || document.write('<script src="js/jquery-slim.min.js"><\/script>')</script> --}}
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
{{!-- <script src="assets/js/holder.min.js"></script> --}}
<script src="assets/js/burgers.js"></script>
{{!-- <script>
  Holder.addTheme('thumb', {
    bg: '#55595c',
    fg: '#eceeef',
    text: 'Thumbnail'
  });
</script> --}}
